# CODEOWNERS
# Default owner
*       @drunknbass

# Major areas
app/**  @drunknbass
lib/**  @drunknbass
components/** @drunknbass

# Repo meta
.github/** @drunknbass
tests/**   @drunknbass
scripts/** @drunknbass

